.DependenciesTitle{
      background-color: #ffffff11;
      display: flex;
      flex-direction: row;
      margin: 4px;
      padding: 4px 8px;
  }
.DependenciesTitle > span{
      margin-left: 10px;
      margin-right: auto;
  }
.DependenciesItem{
      display: flex;
      flex-direction: row;
      margin: 2px;
      padding: 4px 8px;
      user-select: none;
  }
.DependenciesItem:hover{
      background-color: #ffffff11;
  }
.DependenciesItem > span{
      font-size: 13px;
      margin-left: 10px;
      margin-right: auto;
  }